<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
</head>
<style>

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        width: 100%;
        height: 100%;

    }

    iframe {
            width:100%;
            height: 100%;
    }

</style>
<body>
    <div class="container">
        <div id="player"></div>
    </div>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.js" integrity="sha512-evjxmRXJDnWC62hPb1lsGZP6/TsBVR1hq2K873VPdlxItTB/WFpB4pavhqTwEjWpYfOA/b/9QYljHjrPO1fXwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='javascript/view.js') }}"></script>
</body>
</html>